<script src="node_modules/chart.js/src/chart.js"></script>
<body  background="wood">
    <div class="navbar navbar-inverse navbar-fixed-top   color">
        <div class="container color" >
            <div class="navbar-header color">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <br>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Sign-Up</span>
                    </button>
                    </li>
                     <li>.
                    </li>
                    <li><button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-user" aria-hidden="true"> Sign-In</span>
                    </button>
                    </li>
                    <li>.
                     </li>
                    <li><button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"> Administration</span>
                    </button>
                     </li>
                    <li>.
                     </li>
                     <li><button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> About</span>
                    </button>
                    </li>
                </ul>
                  <ul class="nav navbar-nav navbar-right">
                     <li>
                      <div class="container numberCircle"> <span class="badge" style="text-align: center">  {{deviceId}} </span> </div>
                      </li>
                       <li>
                      <div class="container numberCircle"> <span class="badge">  {{deviceType}} </span> </div>
                    </li>
              </ul>
 
            
            </div>


        </div>
    </div>



<div class="jumbotron wood"> 
          <br>
          <div class="row">  
           <div class="col-md-1">
            <nav class="mainNav">
              <ul>
                  <li><a href="#" data-title="Devices"><span style="text-align: center"> Devices </span></a></li>
                  <li><a href="#" data-title="Trace"><span style="text-align: center"> Trace </span></a></li>
                  <li><a href="#" data-title="Analysis"><span style="text-align: center"> Analysis </span></a></li>
              </ul>
            </nav>
           </div>   

            <div class="col-md-2">
             <div class="de">
                  <div class="den">
                    <div class="dene">
                      <div class="denem">
                        <div class="deneme">
                          {{temperature}}<span></span><strong>&deg;</strong>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
           </div>  
          
          <div class="col-md-4"> 
          <div class="panel panel-primary"> 
             <div style="display: block">
             <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [colors]= "ChartColors"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">           
            </canvas>
            </div>
          </div>




          

          </div>  
          <div class="col-md-4"> 
          <div class="panel panel-primary">
          <div style="display: block">
            <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
                
              </canvas>
           </div>
            
          </div>  
          </div>  
       </div>
</div>
</body>
